# Database connection
DB_HOST=db
DB_USER=splatcal
DB_PASSWORD=PASSWORD
DB_NAME=splatcal

# Database root password. only used for you to access the database
DB_ROOT_PASSWORD=PASSWORD

WEB_URL=https://example.com/

# Discord bot connection
botToken=TOKEN
BOT_ACTIVITY_TYPE=Playing # Competing, Custom, Listening, Playing, Streaming, Watching
BOT_ACTIVITY=Splatoon 3

# When to run splatfest fetch (Hour)
SPLATFEST_RUN_HOUR=06
# Default 06

# message channels
# use as many ping ids as you want. separate with commas to get more
splatfestNew=CHANNEL ID,PING ID,PING ID
# copy with suffix to get more channels
#splatfestNew2=CHANNEL ID,PING ID,PING ID

splatfestWin=CHANNEL ID,PING ID,PING ID
# copy with suffix to get more channels
#splatfestWin2=CHANNEL ID,PING ID,PING ID

error=CHANNEL ID,PING ID,PING ID      
# copy with suffix to get more channels
#error2=CHANNEL ID,PING ID,PING ID